*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
#root{
    height: 100%;
    width: 100%;
}
#button_mat{
    width: 120px;
}
.App{
    height: 100%;
}
.header-size{
    height: 60px;
}
.cursor-pointer{
    cursor: pointer;
}
.w300{
    width: 300px;
}